assets/flows.json
[{"id":"03a4264f4df209b2","type":"tab","label":"FPP Node-RED Examples","disabled":false,"info":"","env":[]},{"id":"e4fed2373efb1cb5","type":"tab","label":"Connection to FPP (Leave as is)","disabled":false,"info":"","env":[]},{"id":"646c0920c5b4a133","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"node-red","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"fb8f4ef6.7c1d88","type":"ui_group","name":"Global Variables","tab":"ecfca19571a70e39","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"6c4016f736d174a9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ecfca19571a70e39","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"c76deeaa32cf030b","type":"comment","z":"03a4264f4df209b2","name":"Example Run FPP Command","info":"","x":160,"y":80,"wires":[]},{"id":"de3e6656c82ddfa5","type":"inject","z":"03a4264f4df209b2","name":"Press square to left to increase FPP Volume by 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":80,"wires":[["6e6328eed5c257af"]]},{"id":"6e6328eed5c257af","type":"fpp-command","z":"03a4264f4df209b2","name":"Increase FPP Volume by 1","command":"Volume Increase","dynamicFields":{"volume":"1"},"x":900,"y":80,"wires":[[]]},{"id":"a9510d9dc7b1b1fe","type":"mqtt in","z":"e4fed2373efb1cb5","name":"Listen for FPP Status via MQTT","topic":"node-red/falcon/player/+/fppd_status","qos":"2","datatype":"auto-detect","broker":"646c0920c5b4a133","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":40,"wires":[["ea47a7ece952676b"]]},{"id":"ea47a7ece952676b","type":"function","z":"e4fed2373efb1cb5","name":"Set FPP Variables","func":"var mode_name = msg.payload.mode_name;\n\nif (mode_name === 'player') {\n    // Extract the relevant details from the incoming message payload\n    var current_playlist = msg.payload.current_playlist.playlist;\n    var current_sequence = msg.payload.current_sequence;\n    var current_song = msg.payload.current_song;\n    var host_name = msg.payload.host_name;\n    var mode_name = msg.payload.mode_name;\n    var next_playlist = msg.payload.next_playlist.playlist;\n    var scheduler_status = msg.payload.scheduler.status;\n    var seconds_played = msg.payload.seconds_played;\n    var seconds_remaining = msg.payload.seconds_remaining;\n    var time_elapsed = msg.payload.time_elapsed;\n    var time_remaining = msg.payload.time_remaining;\n    var uptime = msg.payload.uptime;\n\n\n    // Store the extracted details in global context\n    global.set('fpp.current_playlist', current_playlist);\n    global.set('fpp.current_sequence', current_sequence);\n    global.set('fpp.current_song', current_song);\n    global.set('fpp.host_name', host_name);\n    global.set('fpp.mode_name', mode_name);\n    global.set('fpp.next_playlist', next_playlist);\n    global.set('fpp.scheduler_status', scheduler_status);\n    global.set('fpp.seconds_played', seconds_played);\n    global.set('fpp.seconds_remaining', seconds_remaining);\n    global.set('fpp.time_elapsed', time_elapsed);\n    global.set('fpp.time_remaining', time_remaining);\n    global.set('fpp.uptime', uptime);\n\n\n    // Retrieve and log the global variables\n    var globals = {\n        current_playlist: global.get('fpp.current_playlist'),\n        current_sequence: global.get('fpp.current_sequence'),\n        current_song: global.get('fpp.current_song'),\n        host_name: global.get('fpp.host_name'),\n        next_playlist: global.get('fpp.next_playlist'),\n\n        scheduler_status: global.get('fpp.scheduler_status'),\n        seconds_played: global.get('fpp.seconds_played'),\n        seconds_remaining: global.get('fpp.seconds_remaining'),\n        time_elapsed: global.get('fpp.time_elapsed'),\n        time_remaining: global.get('fpp.time_remaining'),\n        uptime: global.get('fpp.uptime')\n    };\n\n    // Log the global variables\n  //  node.warn(\"Global Variables:\");\n  //  node.warn(globals);\n}\n\n// Optionally, you can return a message or status if needed\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":40,"wires":[[]]},{"id":"83b2790afb9152ac","type":"ui_template","z":"e4fed2373efb1cb5","group":"fb8f4ef6.7c1d88","name":"","order":0,"width":0,"height":0,"format":"<div>\n    <h3>FPP Status</h3>\n    <ul>\n        <li><strong>Host Name:</strong> {{msg.payload.host_name}}</li>\n        <li><strong>Mode Name:</strong> {{msg.payload.mode_name}}</li>\n        <li><strong>Current Playlist:</strong> {{msg.payload.current_playlist}}</li>\n        <li><strong>Current Sequence:</strong> {{msg.payload.current_sequence}}</li>\n        <li><strong>Current Song:</strong> {{msg.payload.current_song}}</li>\n        <li><strong>Next Playlist:</strong> {{msg.payload.next_playlist}}</li>\n        <li><strong>Scheduler Status:</strong> {{msg.payload.scheduler_status}}</li>\n        <li><strong>Seconds Played:</strong> {{msg.payload.seconds_played}}</li>\n        <li><strong>Seconds Remaining:</strong> {{msg.payload.seconds_remaining}}</li>\n        <li><strong>Time Elapsed:</strong> {{msg.payload.time_elapsed}}</li>\n        <li><strong>Time Remaining:</strong> {{msg.payload.time_remaining}}</li>\n        <li><strong>Uptime:</strong> {{msg.payload.uptime}}</li>\n    </ul>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":840,"y":100,"wires":[[]]},{"id":"a50d8004dc219cb7","type":"function","z":"e4fed2373efb1cb5","name":"Select variables","func":"// Retrieve global variables\nlet host_name = global.get('fpp.host_name');\nlet mode_name = global.get('fpp.mode_name');\nlet current_playlist = global.get('fpp.current_playlist'); // Adjusted to match example JSON\nlet current_sequence = global.get('fpp.current_sequence');\nlet current_song = global.get('fpp.current_song');\nlet next_playlist = global.get('fpp.next_playlist');\nlet scheduler_status = global.get('fpp.scheduler_status'); // Ensure this matches global variable key\nlet seconds_played = global.get('fpp.seconds_played');\nlet seconds_remaining = global.get('fpp.seconds_remaining');\nlet time_elapsed = global.get('fpp.time_elapsed');\nlet time_remaining = global.get('fpp.time_remaining');\nlet uptime = global.get('fpp.uptime');\n\n// Prepare payload for dashboard\nmsg.payload = {\n    host_name: host_name,\n    mode_name: mode_name,\n    current_playlist: current_playlist,\n    current_sequence: current_sequence,\n    current_song: current_song,\n    next_playlist: next_playlist,\n    scheduler_status: scheduler_status,\n    seconds_played: seconds_played,\n    seconds_remaining: seconds_remaining,\n    time_elapsed: time_elapsed,\n    time_remaining: time_remaining,\n    uptime: uptime\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":100,"wires":[["83b2790afb9152ac"]]},{"id":"eb7019eca36f3885","type":"inject","z":"e4fed2373efb1cb5","name":"Trigger flow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":100,"wires":[["a50d8004dc219cb7"]]},{"id":"f5d4d913027435c2","type":"comment","z":"e4fed2373efb1cb5","name":"Update Dashboard with FPP variables","info":"","x":210,"y":100,"wires":[]},{"id":"2b5cc296f90c650e","type":"comment","z":"e4fed2373efb1cb5","name":"Receive FPP Status Updates and store in global variables","info":"","x":270,"y":40,"wires":[]},{"id":"d9d37bac06f39f4c","type":"comment","z":"e4fed2373efb1cb5","name":"Receive FPP Instructions","info":"","x":170,"y":160,"wires":[]},{"id":"468547c3f761d2d9","type":"mqtt in","z":"e4fed2373efb1cb5","name":"Listen for fpp-nodered instructions via MQTT","topic":"fpp-nodered/","qos":"2","datatype":"auto-detect","broker":"646c0920c5b4a133","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":160,"wires":[["44a743325bb54a6e"]]},{"id":"44a743325bb54a6e","type":"debug","z":"e4fed2373efb1cb5","name":"Log to Debug window","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":160,"wires":[]}]